<div class="faq-item">
  <div class="faq-item-id">{{ id }}</div>
  <div class="faq-item-question">{{ question }}</div>
  <div class="faq-item-answer">{{ answer }}</div>
  <div class="faq-item-group">{{ group }}</div>
  <div class="faq-item-links">{{ links }}</div>
</div>
