{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *                                                                                                                                          
 * @ingroup themeable
 */
#}

{% set classes = ['product', 'product-card', product.title['#bundle']] %}
{% set title = product.title|render|striptags|trim|raw %}
<div{{ attributes.addClass(classes) }} itemscope itemtype="http://schema.org/Product">
  <div class="metadata hidden">
    <span itemprop="brand">{{ site.name }}</span>
    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="price">
        {{ product.variation_price|render|striptags|replace({',':'.', 'R$':'', '/kg': ''})|trim }}
      </span>
      <span itemprop="priceValidUntil" datetime="{{ site.valid }}"></span>
      <span itemprop="priceCurrency">BRL</span>
    </span>
  </div>

  <a href="{{ product_url }}" alt="Página do produto {{ title }}">
    <div class="product-image">
      {{ product.variation_field_imagem }}
    </div>

    <div class="product-info">
      <h3 class="product-title" itemprop="name">{{ product.title }}</h3>
      <div class="product-price">
        {{ product.variation_price }}
      </div>
    </div>
  </a>

  <div class="product-addtocart">
    {{ product.variations }}
  </div>

</div>
